<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liang.androidskilldemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".performance.CPUPerformanceActivity"
            android:label="CPUPerformanceActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".act.FragmentCommunicateActivity"
            android:label="FragmentCommunicateActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".broadcast.BroadcastActivity"
            android:label="BroadcastActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.liang.android_skill_demo_broadcast1" />
                <action android:name="com.liang.androidskilldemo.ACTION1" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".act.FragmentTransactionActivity"
            android:label="FragmentTransactionActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service.ServiceManageActivity"
            android:label="ServiceManageActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />

        <activity
            android:name=".visible.FragmentVisibleSampleActivity"
            android:label="FragmentVisibleSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.liang.skilldemo.Sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wechat.WechatScanSampleActivity"
            android:label="WechatScanSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.liang.skilldemo.Sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ipc.SerializableSample2Activity"
            android:label="SerializationSample" />
        <activity
            android:name=".ipc.SerializationSampleActivity"
            android:label="SerializationSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.liang.skilldemo.Sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LooperSampleActivity"
            android:label="LooperSampleSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.liang.skilldemo.Sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageAdjustActivity"
            android:label="ImageAdjustSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.liang.skilldemo.Sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.FragmentSampleActivity"
            android:label="FragmentSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.liang.skilldemo.Sample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.AppLinkActivity"
            android:label="AppLinkSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.liang.skilldemo.Sample" />
            </intent-filter>
            <intent-filter android:label="link_filter_1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter android:label="link_filter_1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="gizmos"
                    android:scheme="example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutErrorActivity"
            android:label="LayoutErrorSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".progressBar.ProgressBarActivity"
            android:label="ProgressBarSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WidgetActivity"
            android:label="CheckBoxSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gridlayout.GridLayoutActivity"
            android:label="GridLayoutSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gridlayout.EvenGridLayoutActivity"
            android:label="EvenGridLayoutSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tags.TagsActivity"
            android:label="TagsSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bitmap.BitmapAdjustActivity"
            android:label="BitmapAdjustSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".edittext.EditTextActivity"
            android:label="EditTextSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SwitchActivity"
            android:label="SwitchSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RadioGroupActivity"
            android:label="RadioGroupSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundUpdateActivity"
            android:label="BackgroundUpdateSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".edittext.EditTextDeleteActivity"
            android:label="EditTextDeleteSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackStackActivity"
            android:label="BackStackSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kotlinforandroiddevelopers.KotlinForAndroidBookActivity"
            android:label="KotlinForAndroidBookSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawable.DrawableActivity"
            android:label="DrawableSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WindowSampleActivity"
            android:label="WindowSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextViewActivity"
            android:label="TextViewSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimationSampleActivity"
            android:label="AnimationSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentationSampleActivity"
            android:label="PresentationSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimationSample2Activity"
            android:label="AnimationSample2"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourceSampleActivity"
            android:label="ResourceSample"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.ActLearnActivity"
            android:label="ActLearnSample"
            android:launchMode="singleTask">

            <!-- android:configChanges="orientation|screenSize" -->
            <!-- > -->
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="com.liang.skilldemo.Sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.ActLearnNextActivity"
            android:label="ActLearnNextSample"
            android:launchMode="singleTask">

            <!-- android:taskAffinity="com.liang.androidskilldemo.actnext" -->
        </activity>
        <activity
            android:name=".act.ActLearnThirdActivity"
            android:label="ActLearnThirdSample"
            android:launchMode="singleTask" /> <!-- android:taskAffinity="com.liang.androidskilldemo.actthird" -->
        <activity
            android:name=".act.ActLearnForthActivity"
            android:label="ActLearnForthSample" />
        <activity
            android:name=".act.ActLearnFifthActivity"
            android:label="ActLearnFifthSample"
            android:launchMode="singleTask">

            <!-- android:taskAffinity="com.liang.androidskilldemo.actfifth" -->
        </activity>
    </application>

</manifest>