<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liang.androidskilldemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".progressBar.ProgressBarActivity"
                android:label="ProgressBarSample"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.liang.skilldemo.Sample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CheckBoxActivity"
                android:label="CheckBoxSample"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.liang.skilldemo.Sample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".gridlayout.GridLayoutActivity"
                android:label="GridLayoutSample"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.liang.skilldemo.Sample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".gridlayout.EvenGridLayoutActivity"
                android:label="EvenGridLayoutSample"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.liang.skilldemo.Sample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".tags.TagsActivity"
                android:label="TagsSample"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.liang.skilldemo.Sample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".bitmap.BitmapAdjustActivity"
                android:label="BitmapSample"
                android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.liang.skilldemo.Sample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".edittext.EditTextActivity"
                  android:label="EditTextSample"
                  android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.liang.skilldemo.Sample"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>